.buy-offer {
  width: 100%;
  background-color: #f1f1f1;
  height: 73vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.buy-offer p {
  font-size: 40px;
}
